@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

$primary-font: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

$secondary-font: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
  sans-serif;

$primary-color-500: hsl(225, 100%, 65%);
$primary-color-400: hsl(223deg 100% 62%);
$primary-color-300 : hsl(220deg 100% 65%);
$primary-color-200: hsl(225, 86%, 75%);

$grey-color-600: hsl(220, 12%, 30%);
$grey-color-500: hsl(240, 12%, 35%);
$grey-color-400: hsl(240, 12%, 45%);
$grey-color-100: hsl(213, 18%, 90%);
