@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap");

$primary-font: "Lato", Helvetica, Arial;

$primary-color-500: #4d5bff;

$grey-color-600: hsl(220, 12%, 30%);
$grey-color-500: hsl(240, 12%, 35%);
$grey-color-400: hsl(240, 12%, 45%);
$grey-color-100: hsl(213, 18%, 90%);
