@import "variables";

.home-container {
  min-height: 100vh;
}

.navbar {
  padding: 40px 0px 75px 0px;
}

.navbar-wrapper {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-link-wrapper {
  flex-basis: 120px;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: $grey-color-400;
  font-size: 18px;
  font-family: $secondary-font;
  font-weight: 300;
  &:hover {
    cursor: pointer;
    color: $primary-color-400;
  }
  &:hover::after {
    content: "";
    position: absolute;
    height: 5px;
    left: 0;
    width: 100%;
    bottom: -12px;
    background-color: $primary-color-300;
    animation: increase 150ms ease-in;
  }
}

@keyframes increase {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

.hero-section {
  margin: 0 auto;
  width: 82%;
}

.hero-section-heading {
  color: $neutral-color-600;
  font-size: 80px;
  font-weight: 600;
}

.hero-section-name {
  position: relative;
  color: $primary-color-400;
}

.hero-section-handwave-icon {
  color: $grey-color-500;
  position: relative;
  top: -10px;
}

.hero-section-tagline {
  max-width: 1200px;
  font-size: 24px;
  margin-top: 8px;
  color: $neutral-color-600;
}

.hero-section-action-wrapper {
  margin-top: 16px;
}

.hero-section {
  .action-btn-primary {
    padding: 12px 14px;
    width: 200px;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    font-family: $secondary-font;
    background-color: $primary-color-400;
    border: none;
    transition: background-color 300ms;
    border: 1px solid $primary-color-400;
    &:hover {
      background-color: $primary-color-500;
      cursor: pointer;
    }
  }
  .action-btn-secondary {
    margin-left: 16px;
    padding: 12px 14px;
    width: 200px;
    border-radius: 6px;
    font-size: 16px;
    font-family: $secondary-font;
    color: $primary-color-500;
    background-color: $grey-color-100;
    border: 1px solid $primary-color-400;
    transition: background-color 300ms, color 300ms;
    &:hover {
      background-color: $primary-color-400;
      color: #fff;
      cursor: pointer;
    }
  }
}

.skills-section {
  width: 82%;
  margin: 0 auto;
  margin-top: 48px;
}

.section-header {
  position: relative;
  font-family: $primary-font;
  color: $neutral-color-600;
  font-size: 65px;
  font-weight: 600;
  &::after {
    position: absolute;
    content: "";
    bottom: -4px;
    left: 0px;
    width: 70px;
    height: 10px;
    border-radius: 50px;
    background-color: $primary-color-300;
  }
}

.skills-wrapper {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.front-end-card,
.back-end-card {
  font-size: 18px;
  color: $neutral-color-600;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.12);
  padding: 16px;
  margin-top: 16px;
  border-radius: 7px;
  font-family: $primary-font;
}

.front-end-icons-list {
  margin-top: 24px;
  & svg {
    width: 45px;
    height: 45px;
  }
}

.front-end-icon {
  margin-right: 16px;
}

.project-section {
  width: 82%;
  margin: 0 auto;
  padding: 30px 0px;
  min-height: 100vh;
}

.project-section-header {
  position: relative;
  font-family: $primary-font;
  color: $grey-color-500;
  font-size: 65px;
  font-weight: 600;
  &::after {
    position: absolute;
    content: "";
    bottom: -4px;
    left: 0px;
    width: 70px;
    height: 10px;
    border-radius: 50px;
    background-color: $primary-color-300;
  }
}
.contact-section {
  width: 82%;
  margin: 0 auto;
  padding: 30px 0px;
  min-height: 50vh;
}

.footer {
  margin-top: 56px;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link {
  margin-right: 24px;
}

.footer-icon {
  & svg {
    fill: $neutral-color-700;
    width: 45px;
    height: 45px;
    transition: fill 300ms;
    &:hover {
      fill: $neutral-color-800;
      cursor: pointer;
    }
  }
}
.footer-icon-linkedin {
  & svg {
    width: 45px;
    height: 45px;
    &:hover {
      path:nth-of-type(1) {
        cursor: pointer;
        fill: $neutral-color-800;
        cursor: pointer;
      }
    }
  }

  path:nth-of-type(1) {
    fill: $neutral-color-700;
    transition: fill 300ms;
  }
}
