<ul class="project-list-container">
  <li class = 'project-card-wrapper'>
    <article class="project-card">
      <div class="project-image-container">
        <img class="project-image" src="assets/project-pictures/sample.PNG" />
      </div>
      <div class="project-description-container">
        <h2 class="project-description-header">Youtube</h2>
        <p class="project-description">
          I made a website where you can upload videos and share with your
          friends very easily.
        </p>
        <ul class="tag-list">
          <li class="tag">React</li>
          <li class="tag">Angular</li>
          <li class="tag">MySQL</li>
          <li class="tag">Redux</li>
        </ul>
        <div class="project-description-action">
          <button class="action-btn filled">
            View
            <svg-icon
              class="action-btn-icon"
              src="assets/external.svg"
            ></svg-icon>
          </button>
          <button class="action-btn outlined">
            Github
            <svg-icon
              class="action-btn-icon outlined"
              src="assets/github.svg"
            ></svg-icon>
          </button>
        </div>
      </div>
    </article>
  </li>
</ul>
